<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chz.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CircleChangeActivity" />
        <activity android:name=".CircleSlideActivity" />
        <activity android:name=".CircleAlphaActivity" />
        <activity android:name=".SquareChangeActivity" />
        <activity android:name=".SquareAlphaActivity" />
        <activity android:name=".SquareSlideActivity" />
        <activity android:name=".DiamondChangeActivity" />
        <activity android:name=".DiamondAlphaActivity" />
        <activity android:name=".DiamondSlideActivity" />
        <activity android:name=".TriangleChangeActivity" />
        <activity android:name=".TriangleAlphaActivity" />
        <activity android:name=".TriangleSlideActivity" />
        <activity android:name=".TriangleScrollActivity" />
        <activity android:name=".CircleScrollActivity" />
        <activity android:name=".DiamondScrollActivity" />
        <activity android:name=".SquareScrollActivity"></activity>
    </application>

</manifest>